<header class="header">
	<!--<h1>{{nomeEvento}}</h1>-->
	<nav class="main-menu">
		<ul>
			<li class="menu-item">
				<a href="#panel-about">xSobre</a>
			</li>
			<li class="menu-item">
				<a href="#panel-speakers">Palestrantes</a>
			</li>
			<li class="menu-item">
				<a href="#programacao">Programação</a>
			</li>
			<li class="menu-item">
				<a href="#workshops">Workshops</a>
			</li>
			<li class="menu-item">
				<a href="#local">Local</a>
			</li>
			<li class="menu-item">
				<a href="#patrocinadores">Patrocinadores</a>
			</li>
			<li class="menu-item">
				<a href="#contato">Contato</a>
			</li>
		</ul>
	</nav>
	<section class="panel jumbotron">
		<div class="panel">			
			<h1 class="title">{{painelDestaque.titulo}}</h1>
			<h2 class="subtitle">{{painelDestaque.subtitulo}}</h2>
		</div>
		<div class="subscribe">
			<a href="#" class="button">Inscreva-se</a>
			<a href="#" class="button">Patrocine</a>
		</div>
	</section><!-- fim painel-destaque -->
</header>