<div class="tracks container">
		<h2 class="title">Programação</h2>
		<section class="panel panel-mobile">
			<h2>Track Mobile</h2>
			<p>Conteúdo voltado aos diversos tópicos mobile como Android, iOS, Web Mobile, Phonegap e muito mais.</p>
			<ul class="talks">
				<li class="talk">
					<h2>
						<time>08:20</time>
						<span>Credenciamento</span>
						<span></span>
					</h2>
					<p>
						Traga algum documento oficial com foto como identidade, habilitação e passaporte Teremos nesse momento a disponibilidade de guardar sua mochila ou mala.
					</p>
				</li>
				<li class="talk">
					<h2>
						<time>09:10</time>
						<span>KEYNOTE<span>
						<span>(Phil Cançado)</span>
					</h2>
					<p>
						A SoundCloud é o maior repositório de áudio e música da Internet. A plataforma é visitada mensalmente por mais de 200 milhões de pessoas, que à cada minuto fazem upload de 11 horas de áudio. Nos últimos anos, nós migramos de uma arquitetura monolítica tradicional para micro-serviços, e durante essa jornada nós descobrimos o que é fato e o que é hype sobre esta arquietura. Neste keynote, vamos rever os resultados que obtivemos na nossa jornada, e que tecnologias, padrões e processos nós adotamos.
					</p>
				</li>
			</ul>
		</section>
		<section class="panel panel-backend">
			<h2>Track Back-end</h2>
			<p>Voltado para o desenvolvedor mobile e back-end, os assuntos são de HTTP2, RESTful, BigData e muito mais.</p>
		</section>
	</div>